ul.social-link-buttons,
ul.social-share-buttons {
    margin: 0;
    padding: 0;
}

ul.social-link-buttons li,
ul.social-share-buttons li {
    list-style: none;
    display: inline-block;
    margin: 0 12px 12px 0;
    padding: 0;
}

a.social-link-button,
a.social-share-button {
    background-color: #444444;
    border-radius: 12px;
    color: #ffffff;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    text-align: center;
    width: 24px;
}

a.social-link-button:hover,
a.social-share-button:hover {
    background-color: #337ab7;
}
